
<div id="navBar">
    <div id="navBarContent">
        <div id="navBarLeft">
            <div class="navBarItems"></div>
        </div>
        <div id="navBarRight">
            
            <div *ngIf="!loggedIn()" 
            (click)="onLoginClick()"
            class="navBarItems">
            <button mat-flat-button>Login</button>
            </div>
            
            <div *ngIf="loggedIn() && userHasProfile" class="navBarItems">
                {{getUsername()}}
            </div>

            <div *ngIf="loggedIn()"
            (click)="onLogoutClick()" class="navBarItems">
            <button mat-flat-button>Logout</button>    
            </div>
        </div>

    </div>
</div>

<router-outlet></router-outlet>

<app-profile [show]="loggedIn() && !userHasProfile"></app-profile>
