#emailVerification {
    background-color: rgb(20,20,20);
    text-align: center;
    margin-top: 8em;
    color: whitesmoke;
    width: 100%;
    height: 100%;
    margin: 10% 0px;
    padding: 5%;
    justify-content: center;
}